* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: white;
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

#menu {
  font-size: 50px;
  position: absolute;
  margin-top: 300px;
}

h1 {
  font-size: 60px;
  display: flex;
  margin: 0;
  padding: 0;
}

.title-card{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  letter-spacing: 15px;
  display: flex;
  flex-flow: row nowrap; 
  align-items: center;
  justify-content: space-around;
  width: 400px; 
}


main {

  display: flex;
  flex-flow: row nowrap; 
  width: 800px;
  align-items: center;
  justify-content: space-between; 
}

button {
  height: 60px;
  width: 130px;
  font-size: 40px;
}

#lives-tracker {
  font-size: 40px;
}

#score-tracker {
  font-size: 30px;
}

#win-lose {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 40px;
  color: rgb(0, 255, 0);
}

.grid {
  background-color: black;
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 600px;
  flex-wrap: wrap;
  border: 15px solid white;
}

.grid div {
  width: 30%;
  height: 30%;
  color: white;
  border: 0.5px solid black;
}

div {
  font-size: 9px;
}

.player {
  background-image: url('./img/ship.png');
  background-size: contain;
  background-position: center;
}

.projectile {
  background-image: url('./img/projectile.png');
  background-size: contain;
  background-position: center;
}

.alien-projectile {
  background-image: url('./img/bomb.png');
  background-size: contain;
  background-position: center;
}

.alien {
  background-image: url('./img/alien.png');
  background-size: contain;
  background-position: center;
}

.superAlien {
  background-color: hotpink;
}